@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 10px;
}

.navbar {
  height: 70px;
  background: #32a852;
  color: #fff;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.btn {
  padding: 5px;
  background: #000;
  color: #fff;
  border-radius: 5px;
}

.danger {
  background-color: red;
  float: right;
}

.form-control {
  padding: 5px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.2);
}

form {
  margin-bottom: 20px;
}
.card {
  border: 1px solid black;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.03);
  background-color: rgba(0, 0, 0, 0.03);
}

.main {
  max-width: 700px;
}
